.title {
    color: #FFF;
    text-align: center;
    font-family: GangwonEdu_OTFBoldA;
    font-size: 2vw;
    font-weight: 400;
    white-space: pre-line;
    line-height: 130%;
    margin: 13.33vh 0 19.59vh 0;
}

.selectBtn {
    outline: none;
    cursor: pointer;
    color: #000;
    font-family: GangwonEdu_OTFBoldA;

    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.93vh;
    height: auto;
    padding: 31px 0 22px 0;
    width: 100vw;
    max-width: 720px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #EC8D11;
    background: rgba(255, 229, 195, 0.95);
    white-space: nowrap;
    line-height: 130%;
}

.selectBtn:hover {
    background: #F5A741;
    transition: 0.8s ease-out;
}