@font-face {
    font-family: "omyuPretty";
    src: url("../assets/fonts/omyuPretty.ttf") format("truetype")
}
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
}
@font-face {
    font-family: 'GangwonEdu_OTFLightA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
}

.body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.goHome {
    width: 6.09vw;
    height: auto;
    position: fixed;
    top: 4.531vw;
    left: 5vw;
    z-index: 3;
}
.gradient {
    width: 100vw;
    height: 9.69vw;
    background: linear-gradient(rgba(32, 32, 32, 50%), rgba(32, 32, 32, 0%));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.chatContainer {
    width: 100%;
    height: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.allChat {
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 3.23vw;
    padding: 7.292vw 21.615vw 0.729vw;
    box-sizing: border-box;
}
.allChat::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.otherChatContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.885vw;
    align-items: flex-start;
}
.myChatContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.885vw;
    align-items: flex-end;
}
.name {
    font-family: 'omyuPretty';
    font-size: 1.25vw;
    color: white;
    margin: 0 0.21vw 0.156vw;
}
.otherChat {
    max-width: 28.8vw;
    padding: 0.83vw 1.04vw 0.6vw;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.52vw;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.25vw;
    line-height: 140%;
}
.myChat {
    max-width: 28.8vw;
    padding: 0.83vw 1.04vw 0.6vw;
    box-sizing: border-box;
    background-color: #F09D30;
    border-radius: 0.52vw;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 1.25vw;
    line-height: 140%;
    color: white;
}
.inputChat {
    width: 45.73vw;
    height: 4.48vw;
    border-radius: 1.04vw;
    padding-top: 0.99vw;
    padding-right: 1.2vw;
    padding-bottom: 1.04vw;
    border: 2px solid #555555;
    background-color: rgba(0, 0, 0, 50%);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 4.48vw;
}
.input {
    background-color: rgba(0, 0, 0, 0%);
    border: 0;
    outline: 0;
    flex: 1;
    margin: 0.4vw 2.14vw 0;
    font-family: 'GangwonEdu_OTFLightA';
    font-size: 1.46vw;
    color: white;
}
.input::placeholder {
    color: rgba(255, 255, 255, 60%);
    font-family: 'GangwonEdu_OTFLightA';
    padding-top: 10vw;
}
.send {
    width: 2.45vw;
    height: 2.45vw;
}