html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* 필요하면 패딩도 제거 */
    box-sizing: border-box;
    /* 레이아웃 깨짐 방지 */
}

.body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.backgroundImg {
    width: 100%;
    height: auto;
}

.homeButton {
    width: 6.8vw;
    height: auto;
    position: absolute;
    z-index: 2;
    left: 6.1vw;
    top: 5.7vw;
}

.markContainer {
    width: 10.3vw;
    height: 36.7vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 6.1vw;
    right: 5.9vw;
    row-gap: 14;
}

.markItem {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot {
    width: 0.52vw;
    height: 0.52vw;
    background-color: #BABABA;
    border-radius: 0.52vw;
}

.GMark {
    width: 7.8vw;
    height: auto;
}

.HMark {
    width: 7.7vw;
    height: auto;
}

.RMark {
    width: 7.8vw;
    height: auto;
}

.SMark {
    width: 7.5vw;
    height: auto;
}