@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
}

@font-face {
  font-family: "omyuPretty";
  src: url("../assets/fonts/omyuPretty.ttf") format("truetype");
}

.LoadingCameraBackImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.AllLoadingCamera {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoadingCameraHat {
  position: relative;
  z-index: 2;
  width: 30.2917vw;
  height: 22.875vw;
  aspect-ratio: 131/105;
  margin-top: 20px;
}

.VideoContainer {
  z-index: 0;
  width: 372px;
  height: 435px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-top: -90px;
}

.VideoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transform: scaleX(-1);
}

.AllCountDown {
  position: absolute;
  top: 30px;
  right: 60px;
  z-index: 10;
}

.CountDown {
  color: #fff;
  font-family: "omyuPretty";
  font-size: 50px;
  font-weight: 400;
}
