@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.allContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 11.2vh 0 15.8vh 0;
    color: #FFF;
    text-align: center;
    font-family: GangwonEdu_OTFBoldA;
    font-size: 38px;
    font-weight: 400;
    white-space: pre-line;
}

.answerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8vh;
    width: 100vw;
}

.questionBtn {
    outline: none;
    cursor: pointer;
    color: #000;
    font-family: GangwonEdu_OTFBoldA;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    height: auto;
    padding: 20px 100px;
    width: 100vw;
    max-width: 37.5vw;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #EC8D11;
    background: rgba(255, 229, 195, 0.95);
    white-space: nowrap;
}

.questionBtn:hover {
    background-color: rgba(255, 173, 65, 0.95);
    transition: 0.8s ease-out;
}