.characterBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.goHomeBtn {
    width: 6.8vw;
    height: auto;
    position: absolute;
    z-index: 2;
    left: 4.2vw;
    top: 4.4vw;
}